{% extends "base.html" %}

{% block title %}Editar Produto{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='editar.css') }}">
{% endblock %}

{% block navbar %}
    <nav class="navbar">
        <a class="back-btn" href="{{ url_for('produtos.listar') }}">Voltar</a>
        <h1>Editar Produto</h1>
    </nav>
{% endblock %}

{% block content %}
    <form action="{{ url_for('produtos.editar', codigo=produto.codigo) }}" method="POST">
        <label class="text-label">Código:</label><br>
        <input type="number" name="codigo" value="{{ produto.codigo }}" step="1" readonly title="Código do produto" placeholder="Código do produto"><br><br>
        <label class="text-label">Nome:</label><br>
        <input type="text" name="nome" value="{{ produto.nome }}" required title="Nome do produto" placeholder="Nome do produto"><br><br>
        <label class="text-label">Preço:</label><br>
        <input type="number" name="preco" value="{{ produto.preco }}" step="0.01" required title="Preço do produto" placeholder="Preço do produto"><br><br>
        <label class="text-label">Quantidade:</label><br>
        <input type="number" name="quantidade" value="{{ produto.quantidade }}" required title="Quantidade do produto" placeholder="Quantidade do produto"><br><br>
        <button type="submit">Salvar Alterações</button>
    </form>
{% endblock %}